# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*_HW
robotics_rrt

# ros & catkin file
build/
devel/
gtest/
src/devel/
src/build/
src/catkin/
src/catkin_generated/
src/cmake_install.cmake
catkin_generated/
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
src/CTestTestfile.cmake

# editor
.vscode/